.container {
  text-align: center;
}

.grid-holder {
  display: inline-block;
}

.content {
  width: 100%;
  height: 100px;
}

.content_red {
  background: red;
}

.content_blue {
  background: cadetblue;
}

.content_green {
  background: forestgreen;
}

.content_yellow {
  background: yellow;
}

.content_black {
  background: black;
}
