<div class="container">
  <div class="grid-holder">
    <div class="grid">
      <div class="grid-col col-desktop-8 col-tablet-4 col-phone-2">
        <div class="content content_green">1</div>
      </div>
      <div class="grid-col col-desktop-4 col-tablet-4 col-phone-2">
        <div class="content content_blue">2</div>
      </div>
      <div class="grid-col col-desktop-3 col-tablet-1 col-phone-4">
        <div class="content content_red">3</div>
      </div>
      <div class="grid-col col-desktop-5 col-tablet-6 col-phone-2">
        <div class="content content_yellow">4</div>
      </div>
      <div class="grid-col col-desktop-4 col-tablet-1 col-phone-2">
        <div class="content content_black">5</div>
      </div>
      <div class="grid-col col-desktop-12 col-tablet-8 col-phone-4">
        <double-slider></double-slider>
      </div>
    </div>
  </div>
</div>

